# Project files
music/
config.json

# JDA files
tokens.json

# eclipse files
.classpath
.project
.settings/
/bin/

# Intellij
/.idea/
*.iml
*.ipr
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# gradle
/build/
/.gradle/
config.json
